.language {
  width: 60%;
  margin: auto;
  padding-top: 5%;
}

@media (max-width: 729px) {
  .language {
    font-size: 90%;
    width: 100%;
  }

  .language input {
    font-size: 80%;
  }
  .language select {
    font-size: 80%;
  }
}
