.education {
  display: flex;
  flex-direction: column;
  margin: 3rem;
  h1 {
    text-align: center;
  }
  p {
    text-align: center;
  }
  span {
    color: blue;
  }
  .container {
    .input {
      height: 2rem;
      border-radius: 10px;
    }
  }
  #floatingTextarea {
    margin: 2rem;
    border-radius: 10px;
  }
}
