.container {
  .buttons {
    display: flex;
    .right {
      display: flex;
      justify-content: flex-end;
    }
    .left {
      display: flex;
      justify-content: flex-start;
    }
  }

  .heading {
    color: blue;
  }
}
