.cvstyle2 ul {
  padding: 0;
}
.cvstyle2 ul li {
  list-style: none;
}
.sideBar2 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
}
.sideBar2 .language {
  width: 200px;
}
.sideBar2 .language .row1 {
  display: flex;
  justify-content: space-between;
}
.sideBar2 .language .row1 .col1 {
  font-size: 1rem;
  color: black;
}

.titlcv2 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.titlcv2 .preview {
  width: 12rem;
  height: 12rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

.titlcv2 .preview .photo {
  width: 11rem;
  height: 11rem;
  border-radius: 50%;
  border: none;
  background-color: white;
}
.maincv2 {
  margin: 1rem;
  padding-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 1rem;
}
