.cvstyle2 ul {
  padding: 0;
}
.cvstyle2 ul li {
  list-style: none;
}
.sideBar2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
}
.sideBar2 .div {
  width: 200px;
}
.sideBar2 .div .row1 {
  display: flex;
  justify-content: flex-start;
  gap: 0.5rem;
}
.sideBar2 .div .row1 .col1 {
  font-size: 1rem;
  color: black;
}

.titlcv2 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.titlcv2 .preview {
  width: 12rem;
  height: 12rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

.titlcv2 .preview .photo {
  width: 11rem;
  height: 11rem;
  border-radius: 50%;
  border: none;
  background-color: white;
}
.maincv2 {
  margin: 1rem;
  padding-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 1rem;
}
@media (max-width: 560px) {
  .cvstyle2 {
    font-size: 70%;
  }

  .cvstyle2 span {
    font-size: 12px;
  }
  .cvstyle2 h6 {
    font-size: 80%;
  }
  .cvstyle2 h5 {
    font-size: 80%;
  }
  .cvstyle2 .preview {
    width: 100%;
    height: 100%;
  }
  .titlcv2 .preview {
    width: 5rem;
    height: 5rem;
  }
  .titlcv2 .preview .photo {
    width: 100%;
    height: 100%;
  }
  .cvstyle2 .cvstyle2 .div {
    width: fit-content;
  }
  .cvstyle2 .sideBar2 .div .col1 {
    font-size: 10px;
  }
}
